
    .btn
  {
    height:55px;
      width:360px;
      margin-bottom: 25px;
      border-radius: 6px;
      background: #3773ff;
      color: #fff; 
      font-size: 25px;
  }
  
  .btn:hover
  {
      background-color:cyan  ;
      color:black !important;
      cursor: pointer;
  }
